Frontend/loanApp-client/.angular/cache/
Frontend/loanApp-client/.angular/cache/
Frontend/loanApp-client-backup/.angular/cache
Frontend/loanApp-client-backup/.angular/cache
Frontend/loanApp-client-backup/.angular/cache
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.API.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.API.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Application.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Application.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Infrastructure.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Infrastructure.pdb
Backend/LoanApp.API/.vs/LoanApp.API/xs/UserPrefs.xml
Backend/LoanApp.Application/.vs/LoanApp.Application/xs/UserPrefs.xml
Backend/LoanApp.Application/.vs/LoanApp.Application/xs/project-cache/LoanApp.Application-Debug.json
Backend/LoanApp.Application/bin/Debug/net7.0/LoanApp.Application.deps.json
Backend/LoanApp.Application/bin/Debug/net7.0/LoanApp.Application.dll
Backend/LoanApp.Application/bin/Debug/net7.0/LoanApp.Application.pdb
Backend/LoanApp.Application/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.Application/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.Core/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.Core/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.Core/.vs/LoanApp.Core/xs/UserPrefs.xml
Backend/LoanApp.Core/.vs/LoanApp.Core/xs/project-cache/LoanApp.Core-Debug.json
Backend/LoanApp.Infrastructure/.vs/LoanApp.Infrastructure/xs/UserPrefs.xml
Backend/LoanApp.Infrastructure/.vs/LoanApp.Infrastructure/xs/project-cache/LoanApp.Infrastructure-Debug.json
Backend/LoanApp.Infrastructure/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.Infrastructure/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.Infrastructure/bin/Debug/net7.0/LoanApp.Infrastructure.dll
Backend/LoanApp.Infrastructure/bin/Debug/net7.0/LoanApp.Infrastructure.pdb
Backend/LoanApp.Tests/.vs/LoanApp.Tests/xs/UserPrefs.xml
Backend/LoanApp.Tests/.vs/LoanApp.Tests/xs/project-cache/LoanApp.Tests-Debug.json
Backend/LoanApp.Tests/obj/LoanApp.Tests.csproj.nuget.dgspec.json
Backend/LoanApp.Tests/obj/LoanApp.Tests.csproj.nuget.g.props
Backend/LoanApp.Tests/obj/project.assets.json
Backend/LoanApp.Tests/obj/project.nuget.cache
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.assets.cache
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.csproj.AssemblyReference.cache
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.csproj.CoreCompileInputs.cache
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.csproj.FileListAbsolute.txt
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.dll
Backend/LoanApp.Tests/obj/Debug/net7.0/LoanApp.Tests.pdb
Backend/LoanApp.Tests/obj/Debug/net7.0/ref/LoanApp.Tests.dll
Backend/LoanApp.Tests/obj/Debug/net7.0/refint/LoanApp.Tests.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/Castle.Core.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Application.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Application.pdb
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Infrastructure.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Infrastructure.pdb
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Tests.deps.json
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Tests.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/LoanApp.Tests.pdb
Backend/LoanApp.Tests/bin/Debug/net7.0/Moq.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/System.Diagnostics.EventLog.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
Backend/LoanApp.Tests/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
Frontend/loanApp-client/dist/loan-app-client/browser/index.html
Frontend/loanApp-client/dist/loan-app-client/browser/main-JOOPN6LN.js
Frontend/loanApp-client/dist/loan-app-client/browser/main-QSO3575S.js
Frontend/loanApp-client/dist/loan-app-client/browser/customer/loan-application/index.html
Frontend/loanApp-client/dist/loan-app-client/server/chunk-ETQR2TWB.mjs
Frontend/loanApp-client/dist/loan-app-client/server/chunk-YXAH4JDG.mjs
Frontend/loanApp-client/dist/loan-app-client/server/index.server.html
Frontend/loanApp-client/dist/loan-app-client/server/main.server.mjs
Frontend/loanApp-client/dist/loan-app-client/server/server.mjs
Backend/LoanApp.API/.vs/LoanApp.API/xs/UserPrefs.xml
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.API.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.API.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Application.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Application.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Core.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Core.pdb
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Infrastructure.dll
Backend/LoanApp.API/bin/Debug/net7.0/LoanApp.Infrastructure.pdb
