<h2>Loan Application</h2>
<form (ngSubmit)="onSubmit()">
  <div class="message-container">
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  <div>
    <label for="customerId">Customer ID:</label>
    <input id="customerId" [(ngModel)]="loanApplication.customerId" name="customerId" required />
  </div>
  <div>
    <label for="amount">Loan Amount:</label>
    <input id="amount" [(ngModel)]="loanApplication.amount" name="amount" required type="number" />
  </div>
  <div>
    <label for="status">Loan Status:</label>
    <input id="status" [(ngModel)]="loanApplication.status" name="status" required />
  </div>
  <button type="submit">Submit Loan Application</button>
</form>
